<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title> {{ title }} </title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        
        <td> 
        <img height="240px" src="./images/lukefahr.jpg"/> 
        </td> 

        <h2>Andrew Lukefahr</h2>
        <b> Assistant Professor </b><br>
        <a href="http://engineering.indiana.edu"> Intelligent Systems Engineering</a> <br>
        <a href="http://www.indiana.edu/"> Indiana University</a> <br>
        <br>
        lukefahr@iu.edu<br>
        <br>
        2032 Luddy Hall<br>
        700 N. Woodlawn Ave <br>
        Bloomington, IN 47405<br> 
        <br>
        <!-- <a href="docs/lukefahr_cv.pdf">Curriculum Vitae</a> <br>  !-->
        <p></p>

        <p>
        <h2><a href="index.html">Home</a> <br>  </h2>
        <h2><a href="research.html">Research</a> <br>  </h2>
        <h2><a href="publications.html">Publications</a> <br>  </h2>
        <h2><a href="teaching.html">Teaching</a> <br>  </h2>
        <p>
      </header>

      <section>

      {{ content }}

      </section>
      <footer>
        
      </footer>
    </div>

  </body>
</html>

